{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
      <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://api.fontgraphy.ir/css?family=roya">

    <title>قیمت ماشین شما چند است ؟</title>
        <style>
        body {
                    background-color: whitesmoke;
            font-family: 'roya';
        }
        #carlist {
            text-align: center;
        }
            .card {
                display: inline-block;
                margin: 10px;
            }
    </style>
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>

</head>
<body>

<br>

<div class="container">
    <div class="row">
        <div class="col-12">
            <section id="carlist">
                <h3>به سیستم قیمت‌گذاری خودرو خوش آمدید</h3>
                <p>
                    یکی از موارد زیر را انتخاب کنید
                </p>
                <a href="/predict"><button type="button" class="btn btn-primary">تخمین قیمت</button></a>
                <a href="/search"><button type="button" class="btn btn-primary">جستجو ماشین‌ها</button></a>
                <p style="margin-top: 20px;">این پروژه درس پایتون پیشرفته مکتبخونه است. ساخته شده توسط <a href="https://mirfarzam.ninja">میرفرزام</a></p>
            </section>
        </div>
    </div>
</div>

<script>

</script>

</body>
</body>
</html>